{% extends 'adminapp/base.html' %}

{% block content %}
{% load static %}
<div class="container-xxl position-relative bg-white d-flex p-0">
<div class="container-fluid">
    <div class="bg-light text-center pt-4 px-4 ">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Car list</h6>
            <a href="{% url 'car-list' %}">Show All</a>
            <button type="button"><a href={% url 'add_car' %}>Add Car</a></button>
            
        </div>
        <div class="content">
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover">
                <thead>
                    
                    <tr class="text-dark">
                        <th scope="col"><input class="form-check-input" type="checkbox"></th>
                        <th scope="col">ID</th>
                        <th scope="col">THUMBNAIL</th>
                        <th scope="col">CAR TITLE</th>
                        <th scope="col">CITY</th>
                        <th scope="col">COLOR</th>
                        <th scope="col">MODEL</th>
                        <th scope="col">YEAR</th>
                        <th scope="col">BODY STYLE</th>
                        <th scope="col">FUEL TYPE</th>
                        <th scope="col"><input class="form-check-input" type="checkbox">IS FEATURED</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for car in cars %}
                    <tr>
                        <td><input class="form-check-input" type="checkbox"></td>
                        <td>{{car.id}}</td>
                        <td><img src="{{car.car_photo.url}}" alt="car-image" style="height:40px; width:50px; "></td>
                        <td>{{car.car_title}}</td>
                        <td>{{car.city}}</td>
                        <td>{{car.color}}</td>
                        <td>{{car.model}}</td>
                        <td>{{car.year}}</td>
                        <td>{{car.body_style}}</td>
                        <td>{{car.fuel_type}}</td>
                        {% if car.is_featured %}
                         <td><i class="bi bi-patch-check-fill"></i></td>
                         {% else %}
                         <td><i class="bi bi-exclamation-triangle"></i></td>
                        {% endif %}
        
                        <td>
                            <button type="button"><a href={% url 'delete_car' car.id %}>Delete</a></button>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
    </div>
</div>
</div>

{% endblock content %}


